.panel.panel-default.au-tradeline-panel
  .panel-heading.col-md-12
    .text-left.col-md-6
      .panel-title Upcoming Tradelines
    .text-right.col-md-6.view-all
      - if @trade_lines.any?
        = link_to 'View all', trade_lines_path, class: 'new-trade-line', data: { 'no-turbolink' => true }
  .panel-body.tradeline-panel#panel-body
    - if @trade_lines.any?
      = render 'trade_lines/index_dashboard'
    - else
      .no-data-div
        %div
          = image_tag('no-data-img.png')
          %p.dashb Nothing here 😔
          %p.dashb There is nothing here, please come back later.
#new_trade_line
#user-show-info

.row.au-ss-bottom-row
  .col-md-12.au-wallet-balance
    .col-sm-4.no-pad-left
      .div#wallet-balance
        .wallet-balance
          .div.cash-img
          .balance-wrapper
            %p.wallet-bal Current wallet balance
            %b.wallet-amount
              %span#wallet-amount
                - precision = user_wallet_balance_precision(current_user.wallet_balance)
                = number_to_currency(current_user.wallet_balance, precision: 2)

      #btn-click-modal
      - if !@can_confirm_deposit
        %button.data-error{ class: 'btn btn-primary btn-block btn-lg btn-gap',
        data: { error: 'Please wait for the Banking information to be updated' } }
          %b CONFIRM YOUR DEPOSIT
        %button.data-error{ class: 'btn btn-primary btn-block btn-lg btn-gap',
        data: { error: 'Please wait while the Banking Information is being updated' } }
          %b FUND YOUR WALLET

      - elsif profile_empty?
        %button.data-error{ class: 'btn btn-primary btn-block btn-lg btn-gap',
        data: { error: "Your profile details are not updated. Please #{link_to 'click here', edit_details_user_path(current_user, profile_details: true)} to update your details." } }
          %b CONFIRM Your DEPOSIT
        = link_to 'FUND YOUR WALLET', banking_informations_path, 
          class: 'btn btn-primary btn-block btn-lg btn-gap', method: :get, remote: true
      
      - else 
        = link_to 'CONFIRM your DEPOSIT', new_deposit_path, 
          class: 'btn btn-primary btn-block btn-lg btn-gap', remote: true, method: :get
        = link_to 'FUND YOUR WALLET', banking_informations_path, 
          class: 'btn btn-primary btn-block btn-lg btn-gap', method: :get, remote: true

      = link_to 'Request SSN / CPN VALIDATION', edit_ssns_user_path(current_user), 
        remote: true, class: 'btn btn-primary btn-block btn-lg btn-gap', data: { 'no-turbolink' => true }

      = link_to 'Withdraw your funds', new_withdraw_path, class: 'btn btn-primary btn-lg btn-block', remote: true

    .col-sm-4.no-pad-right.no-pad-left.au-dashboard-recent
      .panel.panel-default
        .panel-heading.col-md-12
          .text-left.col-md-6
            .panel-title.dashb Recent Transactions
          .text-right.col-sm-6
            - if @recent_transactions.present?
              = link_to 'View All', deposits_path
        .panel-body.au-dashboard-trans
          - if @recent_transactions.present?
            = render partial: 'all_recent_transactions', locals: { recent_transactions: @recent_transactions }
          - else
            .no-data-div
              %div
                = image_tag('no-data-img.png')
                %p.dashb Nothing here 😔
                %p.dashb There is nothing here, please come back later.

    .col-sm-4.no-pad-right.au-dashboard-submitted
      .panel.panel-default
        .panel-heading.col-md-12
          .text-left.col-md-6
            .panel-title.dashb Order Management
          .text-right.col-sm-6
            - if @orders.present?
              = link_to 'View All', purchases_path 
        .panel-body.au-dashboard-apps#panel-body
          - if @orders.empty?
            .no-data-div
              %div
                = image_tag('no-data-img.png')
                %p.dashb Nothing here 😔
                %p.dashb There is nothing here, please come back later.
          - else
            = render partial: 'all_recent_transactions', locals: { recent_transactions: @orders }
