= simple_form_for @user, html: { class: 'form-horizontal', id: 'create_broker' }, wrapper: :horizontal_form, remote: true do |f|
  .d-flex.flex-row.flex-wrap.justify-content-between
    .col-50.d-flex.flex-column
      = f.input :first_name, label: 'First name', required: true
    .col-50.d-flex.flex-column
      = f.input :last_name, label: 'Last name', required: true
    .col-50.d-flex.flex-column
      = f.input :email, label: 'Email address'
    .col-50.d-flex.flex-column
      = f.input :phone, label: 'Phone number'
    .col-50.d-flex.flex-column
      = f.input :social, label: false, label: 'SSN number', maxlength: 9, input_html: { type: 'text', onKeyPress: "return isNumber(event);"}
    .col-50.input-labeled
      = f.input :date_of_birth, as: :string, label: 'Date of birth', input_html: { class: 'datepicker date-of-birth' }
    .col-50.d-flex.flex-column
      = f.input :address, label: 'Address'
    .col-50.d-flex.flex-column
      = f.input :city, label: 'City'
    .col-50.d-flex.flex-column
      = f.input :state, label: 'State'
    .col-50.d-flex.flex-column
      = f.input :zipcode, required: false, label: 'Zipcode', maxlength: 6, input_html: { type: 'text', onKeyPress: "return isNumber(event);"}
  .d-flex.justify-content-start.align-items-center
    %button.btn.btn-cyan.btn-md{type: 'submit', for: 'create_broker'} Save
    %a.btn.btn-light-primary.btn-md{'data-dismiss': 'modal', 'aria-label': 'Cancel'} Cancel
