.row.row-holder.align-items-center
  .col-sm-6
    %h2.main-title.title-brand Welcome To Our TradeLines
    %span.subtitle Platform to boost your credit scores.
  .col-sm-6
    .d-flex.justify-content-end
      = link_to 'Fund Your Wallet', banking_informations_path, class: 'btn btn-cyan btn-xl', method: :get, remote: true, href: '#', 'data-toggle': 'modal', 'data-target': '#fund-wallet-modal'
      = link_to 'Confirm Your Deposit', new_deposit_path, class: 'btn btn-cyan btn-xl', remote: true, method: :get

.row.row-holder.align-items-center.bg-grey-light
  .col-sm-6
    %h3.title.title-sub-brand All TradeLines
  .col-sm-6
    .d-flex.justify-content-end
      %span.wallet-amount.d-flex.align-items-center
        %i.icon.icon-wallet
        Wallet balance:
        - precision = user_wallet_balance_precision(current_user.wallet_balance)
        %strong
          = number_to_currency(current_user.wallet_balance, precision: 2)
      = link_to 'Withdraw Funds', new_withdraw_path, class: 'btn btn-secondary btn-xm', remote: true

.row.row-holder.align-items-center
  .col-sm-6.d-flex.align-items-center
    %form.w-100{action: '#'}
      .form-control-holder
        %input{type: 'search', class: 'form-control', placeholder: 'Search by bank name, price or credit limit...'}
        %i.fa.fa-search
  .col-sm-6.d-flex.align-items-center.justify-content-end
    %a.btn.btn-light-tertiary.btn-xxm.btn-reset-filters{href: '/'}
      Remove Filter
      %i.fa.fa-times
    %a.btn-link.d-flex.align-items-center.btn-filters{href: '#', 'data-toggle': 'modal', 'data-target': '#filters-modal'}
      Filter
      %i.icon.icon-filter

#new_trade_line

#btn-click-modal

.content-holder
  - if TradeLine.accessible_by(current_ability).count.zero?
    = render 'shared/no_data'
  - else
    = render 'trade_lines/index'
  
  = render 'latest_ssn_users'
  = render "fund-wallet-modal"
