%table.table.table-hover.table-striped.responsive-table
  %tbody
    - @notifications.each do |transaction|
      %tr.dashb-small-trow
        %td
          - if ref_text(transaction.first) == 'Deposit Ref.' && transaction[2].to_i.negative?
            %p.dashb= "Adjustment Ref. ##{transaction[1]}"
          - else
            %p.dashb= "#{ref_text(transaction.first)} ##{transaction[1]}"
          %p.dashb-small-date= month_date_and_year(transaction.last.to_time)
        - if transaction[2].present?
          %td.dashb= number_to_currency(transaction[2], precision: 2)
        - else
          %td.dashb= number_to_currency(0, precision: 2)