%tr
  %td
    - if (current_user.senior? && params[:junior])
      = link_to "#{app.email}", edit_user_path(app), remote: true, class: 'dashb'
    - elsif current_user.au?
      = link_to "#{app.first_name} #{app.last_name}", edit_user_path(app), remote: true, class: 'dashb'
    - else
      = link_to "#{app.email}", edit_details_user_path(app), remote: :true
  - if params[:junior]
    %td
      = app.created_at.strftime('%b %d, %y') 
    %td
      = app.state
    %td
      = link_to user_path(app), method: :delete, data: { confirm: 'Are you sure that you want to delete this user?' } do
        %span.glyphicon.glyphicon-trash
  - elsif current_user.au?
    %td= app.date_of_birth
    %td
      = app.state
    - if can_delete_au(app)
      %td
        = link_to "Edit", edit_user_path(app), remote: true, class: 'dashb'
        = link_to "Remove", user_path(app), method: :delete, 
          data: { confirm: 'Are you sure that you want to delete user?' }
    - else
      %td
        %span.glyphicon.glyphicon-trash.cursor-pointer.data-error{ data: { error: 'Cannot delete this user.' } }
  - else
    %td
      = app.created_at.strftime('%b %d, %y')
    %td
      = app.status.humanize
    %td
      = link_to "Edit", edit_details_user_path(app), remote: true, class: 'dashb'
      = link_to user_path(app), method: :delete, data: { confirm: 'Are you sure that you want to delete user?' }, class: '' do
        %span Remove
