= @users.errors.full_messages
= simple_form_for @user, html: { class: 'form-horizontal' }, wrapper: :horizontal_form do |f|
  = f.input :first_name, label: 'First Name *', required: true, placeholder: false
  = f.input :last_name, label: 'Last Name *', required: true, placeholder: false
  = f.input :email, label: 'Email Address *', required: true, placeholder: false
  = f.input :phone, label: 'Phone Number *', required: true, placeholder: false
  = f.input :password, label: 'Password *', required: true, placeholder: false
  = f.input :password_confirmation, label: 'Confirm Password *', required: true, placeholder: false
  = hidden_field_tag :step, 1
  &nbsp;
  %a{class: 'btn btn-cyan btn-sm'}= f.button :button, 'Sign Up'
  &nbsp;
  %a{class: 'btn btn-light-primary btn-sm btn-back', href: ''}= f.button :button, 'Go Back'
