.row.row-holder.align-items-center.brand-border-bottom-l-s
  .col-sm-6
    %h2.main-title.title-brand All Applications
    %span.subtitle Platform to boost your credit scores.
  .col-sm-6.d-flex.align-items-center.justify-content-end
    = form_tag applications_users_path, method: :get do
      .form-control-holder.m-r-15
        = text_field_tag :term, nil, placeholder: 'Search Applications', value: params[:term], class: 'form-control form-control-lg form-control-height-lg'
        %i.fa.fa-search
    = link_to 'Add New Broker / Vendor', new_user_path, remote: true, class: 'btn btn-cyan btn-xlg new-trade-line add-trade-line-and-user'

.content-holder.p-t-55
  - if @applications.any?
    %table.table.table-striped
      %thead
        %tr
          %th.no-sort Broker / Vendors Name
          %th.no-sort Date of birth
          %th.no-sort State
          %th.no-sort
      %tbody#applications
        = render partial: 'application', collection: @applications, as: :app
  - else 
    = render 'shared/no_data'

:javascript
  $('#search-box').hide();
  $('.search-users-text').on('click', function(){
    $('#panel-search').hide();
    $('#search-box').show();
    $('#term').focus();
  });
  $('.search-box-remove').on('click', function(){
    $('#panel-search').show();
    $('#search-box').hide();
  });