.row.row-holder.align-items-center
  .col-sm-6
    %h2.main-title.title-brand My Profile
    %span.subtitle Platform to boost your credit scores.
  .col-sm-6
    .d-flex.justify-content-end
      %a.btn.btn-cyan.btn-xl.btn-edit Edit Profile

.content-holder
  = simple_form_for @user, url: update_details_user_path(@user), html: { method: :patch, class: 'form-horizontal row' } do |f|
    .row-holder.align-items-center.bg-grey-light.w-100.m-b-145.p-t-55.p-b-55.p-l-280.js-editable-form
      .d-flex
        .profile-image-wrapper
          %label.profile-image{for: 'user_profile'}
            = f.file_field :profile, 'disabled': true, 'readonly': true
            %img{src: "#{@user.profile? ? asset_url(@user.profile.url) : image_url('user-placeholder.png')}"}
        = f.input :username, readonly: true, 'disabled': true, label: false, :input_html => { :value => 'Rose Johnson', :class => 'title-sub-brand' }

    .row-holder.d-flex.align-items-center.js-editable-form
      .col-holder.col-holder-left.brand-radius.brand-border-l-s.p-40
        = f.input :first_name, readonly: true, 'disabled': true, label: 'First name:'
        = f.input :last_name, readonly: true, 'disabled': true, label: 'Last name:'
        = f.input :email, readonly: true, 'disabled': true, label: 'Email address:'
        = f.input :phone, readonly: true, 'disabled': true, label: 'Phone number:', maxlength: 10, input_html: { type: 'text', onKeyPress: "return isNumber(event);"}
        - if current_user.au?
          = f.input :social, readonly: true, 'disabled': true, label: 'SSN number:', maxlength: 9, input_html: { type: 'text', onKeyPress: "return isNumber(event);"}
        = f.input :date_of_birth, readonly: true, 'disabled': true, as: :string, label: 'Date of birth:', input_html: { class: 'datepicker date-of-birth' }
      .col-holder.col-holder-right.brand-radius.brand-border-l-s.p-40
        = f.input :address, readonly: true, 'disabled': true, label: 'Address:'
        = f.input :city, readonly: true, 'disabled': true, label: 'City:'
        = f.input :state, readonly: true, 'disabled': true, label: 'State:'
        = f.input :zipcode, readonly: true, 'disabled': true, label: 'Zip code:', maxlength: 6, input_html: { type: 'text', onKeyPress: "return isNumber(event);"}

:javascript
  $('select').select2({theme:'bootstrap'});
  if($('.dob_wrapper').hasClass('has-error')) {
    $($('.dob_wrapper span.help-block')).css('display', 'inherit');
  }
  var URL = window.URL || window.webkitURL;
  $('#user_profile').bind('change', function(event){
    if (event.target.files[0].type.startsWith('image/')){
      var tmppath = URL.createObjectURL(event.target.files[0]);
      $('.help-block').remove();
      $('.user-profile').removeClass('has-error');
      $('.profile-image img').attr('src', tmppath);
    }
    else{
      $('.help-block').hide();
      var str = event.target.files[0].type;
      var type = str.substr(str.indexOf("/") + 1).toUpperCase();
      if (type == '') { type = 'this'; }
      var error = 'Cannot add ' + type + ' file';
      $('.user-profile-error').addClass('has-error');
      $('#user_profile').after("<span class=help-block>" + error + "</span>");
    }
  });


