.row.row-holder.align-items-center.brand-border-bottom-l-s
  .col-sm-12
    %h2.main-title.title-brand Change Password
    %span.subtitle Platform to boost your credit scores.

.row.row-holder.user-wrapper.change-password-wrapper
  .col-sm-4
    = simple_form_for @user, url: update_password_user_path(@user), html: { method: :patch, class: 'form-horizontal edit-password-form' }, wrapper: :horizontal_form do |f|
      = f.input :current_password, autocomplete: "off", required: true, label: 'Current Password'
      = f.input :password, autocomplete: "off", required: true, label: 'New Password'
      = f.input :password_confirmation, required: true, label: 'Re-enter New Password', html: {'data-parsley-equalto': '#user_password'}
      %button{class: 'btn btn-grey-primary btn-xxl', type: 'button', data: { toggle: 'modal', target: '#dialog-confirm' }}
        Change Password

      .modal.confirm-modal#dialog-confirm{tabindex: '-1', role: 'dialog', 'aria-labelledby': 'change-password-modal-label', 'aria-hidden': 'true'}
        .modal-dialog{role: 'dialog'}
          .modal-content
            .modal-body.d-flex.justify-content-center
              %h3.title.text-center Are you sure you want to change your password?
            .modal-footer.d-flex.justify-content-center
              %button.btn.btn-grey-primary.btn-xs.btn-success{type: 'submit'} Yes
              %a.btn.btn-light-primary.btn-xs{'data-dismiss': 'modal', 'aria-label': 'Cancel'} Cancel

:javascript
  $(document).ready(function () {
      userId = parseInt("#{@current_user.id}");
  })