.login.row
  .col-md-6.col-sm-6.login-bg-wrapper
  .col-md-6.col-sm-6.login-form-wrapper
    .col-md-offset-1.col-md-8.main.login-form-inner-wrapper
      .d-flex.align-items-center.justify-content-between.header-holder
        .col-left
          %h4.title-brand Complete Sign Up
        .col-right.d-flex.align-items-center.justify-content-end
          %span Already have account?
          = button_to "Log In", new_user_session_path, method: :get,  class: 'btn-link'
      = simple_form_for @user, html: { class: 'form-horizontal' }, wrapper: :horizontal_form do |f|
        .step.step-1
          .d-flex.flex-wrap.justify-content-between.m-b-20
            .col-50
              = f.input :social, label: 'SSN Number', required: false, placeholder: false
            .col-50
              = f.input :address, label: 'Address', required: false, placeholder: false
            .col-50
              = f.input :city, label: 'City', required: false, placeholder: false
            .col-50
              = f.input :state, label: 'State', required: false, placeholder: false
            .col-50
              = f.input :zipcode, label: 'Zip Code', required: false, placeholder: false
            .col-50
              = f.input :phone, label: 'Phone Number', required: false, placeholder: false
            .col-50.input-labeled
              = f.input :date_of_birth, as: :string, label: 'Date of Birth', input_html: { class: 'datepicker date-of-birth' }
            .col-50
              = f.input :mother_maiden_name, label: 'Mother’s Maiden Name', required: false, placeholder: false
            = hidden_field_tag :step, 2
          .d-flex
            %a{class: 'btn btn-cyan btn-sm'}= f.button :submit, 'Complete Sign Up'
            %a{class: 'btn btn-light-primary btn-sm btn-back', href: '/users/signup'}= f.button :button, 'Go Back'

:javascript
  $(document).ready(function(){
    $('input.datepicker').data({behaviour: "datepicker"}).datepicker({format: 'mm/dd/yyyy'});
    $('select').select2({theme:'bootstrap'})
  });
  if($('.dob_wrapper').hasClass('has-error')) {
    $($('.dob_wrapper span.help-block')).css('display', 'inherit');
  }