.row.row-holder.align-items-center.brand-border-bottom-l-s
  .col-sm-12
    %h2.main-title.title-brand Change Password
    %span.subtitle Platform to boost your credit scores.

.row.row-holder.user-wrapper.change-password-wrapper
  .col-sm-4
    = simple_form_for @user, url: update_password_user_path(@user), html: { method: :patch, class: 'form-horizontal edit-password-form' }, wrapper: :horizontal_form do |f|
      = f.input :current_password, autocomplete: "off", required: true, label: 'Current Password'
      = f.input :password, autocomplete: "off", required: true, label: 'New Password'
      = f.input :password_confirmation, required: true, label: 'Re-enter New Password', html: {'data-parsley-equalto': '#user_password'}
      = f.button :submit, "Change Password", class: 'btn btn-grey-primary btn-xxl'

:javascript
  $(document).ready(function () {
      userId = parseInt("#{@current_user.id}");
  })