.row.row-holder.align-items-center.brand-border-bottom-l-s
  .col-sm-12
    %h2.main-title.title-brand Change Password
    %span.subtitle Platform to boost your credit scores.

.row.row-holder
  .col-sm-4
    = simple_form_for @user, url: update_password_user_path(@user), html: { method: :patch, class: 'form-horizontal' }, wrapper: :horizontal_form do |f|
      = f.input :current_password, autocomplete: "off", required: true, label: 'Current Password'
      = f.input :new_password, autocomplete: "off", required: true, label: 'New Password'
      = f.input :new_password_confirmation, required: true, label: 'Re-enter New Password'
      = f.button :button, "Change Password", class: 'btn btn-grey-primary btn-xxl', href: '#', 'data-toggle': 'modal', 'data-target': '#change-password-modal'