.modal-header.short
  %h5.modal-title.title-sub-brand= "Tradeline Details for ##{purchase.ref}"
  %button.close{'data-dismiss': 'modal', 'aria-label': 'Close'}
    %span{'aria-hidden': 'true'} Close
.modal-body
  .d-flex.flex-wrap.justify-content-between
    .col-100.d-flex.flex-column.short
      %table.table.table-striped
        %thead
          %tr
            %th.no-sort Bank Name
            %th.no-sort Slot
            %th.no-sort Credit Limit
            %th.no-sort Card Age
            %th.no-sort Statement Date
            %th.no-sort State
            %th.no-sort Special Add
            %th.no-sort SSN req
            %th.no-sort DL req
            %th.no-sort Price
        %tbody{ data: { 'no-turbolink'=>'true' } }
          %tr
            %td
              %p.dashb= trade_line.bank.capitalize
            %td
              %p.dashb= trade_line.slots
            %td
              %p.dashb
                - if trade_line.credit_limit - trade_line.credit_limit.to_i == 0 
                  = number_to_currency(trade_line.credit_limit, precision: 2)
                - else 
                  = number_to_currency(trade_line.credit_limit, precision: 2)
            %td
              %p.dashb 
            %td
              %p.dashb= trade_line.statement_date.ordinalize
            %td
              %p.dashb= trade_line.state.short_code
            %td
              %p.dashb= parse_booleans(trade_line.special_add)
            %td
              %p.dashb= parse_booleans(trade_line.ssn_req)
            %td
              %p.dashb= parse_booleans(trade_line.dl_req)
            %td
              %p.dashb= number_to_currency(trade_line.price, precision: 2)

    .col-50.d-flex.flex-column.grey-block
      %p
        %b Client / Payee Details:
      %div
        %b Client Name:
        #{purchased_by.first_name} #{purchased_by.last_name}
      %div
        %b DOB:
        #{purchased_by.date_of_birth.present? ? purchased_by.date_of_birth : 'Nan'}
      %div
        %b Client address:
        = purchased_by.address
      %div
        %b City:
        = purchased_by.city
      %div
        %b State:
        = purchased_by.state

    .col-50.d-flex.flex-column.grey-block
      %p
        %b Broker / Vendor Details:
      %div
        %b Name:
        #{purchase.user.first_name} #{purchase.user.last_name}
