= simple_form_for @purchase, url: trade_line_purchases_path(@trade_line), html: { id: "file-upload", multipart: true, remote: true } do |f|
  .row
    .col-6
      .d-flex.align-items-center.bg-grey-dark.inner-gap-sm.m-b-20
        = label_tag :user_id, 'Select Broker / Vendor', class: 'control-label w-70'
        = f.select :user_id, @users.map {|m| ["#{m.first_name} #{m.last_name}", m.id]}, class: 'form-control select-picker js-with-placeholder', prompt: "----Select----"
      .d-flex.justify-content-between.align-items-center
        .col-50
          = form_tag purchases_path, class: 'd-flex flex-wrap justify-content-between dropzone dropzone-sm', method: :get do
            .dz-custom.dz-message.d-flex.align-items-center.justify-content-center{'data-dz-message': 'true'}
              .title-holder.d-flex.flex-column.align-items-center.justify-content-center
                %i.icon.icon-upload
                Upload or Drag & Drop SSN
        .col-50
          = form_tag purchases_path, class: 'd-flex flex-wrap justify-content-between dropzone dropzone-sm', method: :get do
            .dz-custom.dz-message.d-flex.align-items-center.justify-content-center{'data-dz-message': 'true'}
              .title-holder.d-flex.flex-column.align-items-center.justify-content-center
                %i.icon.icon-upload
                Upload or Drag & Drop Driving License

    .col-6
      .d-flex.flex-column.bg-grey-dark.inner-gap-md.checkout-holder.short
        .d-flex.flex-column.row-top.purchase-summary
          .item.d-flex.justify-content-between.align-items-center
            %span Wallet Balance:
            %h4.title-sub-brand=number_to_currency(current_user.wallet_balance)
          .item.d-flex.justify-content-between.align-items-center
            %span Total Payable Amount:
            %h4.title-sub-brand=number_to_currency(trade_line.price, precision: 2)
        %a.btn.btn-cyan.btn-md
          %button{'data-dismiss': 'modal', 'aria-label': 'Complete Purchase', 'data-toggle': 'modal', 'data-target': '#confirm-purchase-modal'} Complete Purchase

:javascript
  $('#purchase_user_id').change(function(){
    var id = $(this).val();
    $.get({
      url: '/users/' + id,
      dataType: 'json'
    }).done(function(user){
      $('#user-info-address').html(user.address);
      $('#user-info-ssn').html(user.ssn);
      $('#user-info-dob').html(user.dob);
    });
  });
  function removeFile(event, id){
    $('#'+id).val('');
    $(event.target).hide();
  }
  $('#purchase_file_for_ssn').change(function(){
    if ($(this).val() != '') {
      $('.for_ssn').show();
    }
  });
  $('#purchase_file_for_dl').change(function(){
    if ($(this).val() != '') {
      $('.for_dl').show();
    }
  });
  $('#purchase_file_for_special_add').change(function(){
    if ($(this).val() != '') {
      $('.for_special_add').show();
    }
  });
  $('.submit-purchase-form').click(function(event){
    event.preventDefault();
    if ($('#purchase_file_for_ssn').val() == '' || $('#purchase_file_for_dl').val() == '') {
      if ($('#purchase_file_for_ssn').val() == ''){
        $('.purchase_file_for_ssn span').remove();
        $('.purchase_file_for_ssn').addClass('has-error');
        $('.purchase_file_for_ssn').append("<span class='help-block'>Please select a file</span>");
      }
      else {
        $('.purchase_file_for_ssn span').remove();
        $('.purchase_file_for_ssn').removeClass('has-error');
      }
      if ($('#purchase_file_for_dl').val() == ''){
        $('.purchase_file_for_dl span').remove();
        $('.purchase_file_for_dl').addClass('has-error');
        $('.purchase_file_for_dl').append("<span class='help-block'>Please select a file</span>");
      }
      else {
        $('.purchase_file_for_dl span').remove();
        $('.purchase_file_for_dl').removeClass('has-error');
      }
    }
    else{
      var form = $('#file-upload')[0];
      var data = new FormData(form);
      $('.loading-gif').show();
      var id = $(this).data("tid");
      url = '/trade_lines/'+id+'/purchases';
      $.ajax({
        type: 'POST',
        enctype: 'multipart/form-data',
        url: url,
        data: data,
        processData: false,
        contentType: false,
        success: function(){
          $('.loading-gif').hide();
        }
      });
    }
  });

