- if trade_line.is_active?
  .modal-header
    %h5.modal-title#withdrawal-funds-modal-label.title-sub-brand Trade Line Details ##{trade_line.id}
    %button.close{'data-dismiss': 'modal', 'aria-label': 'Close'}
      %span{'aria-hidden': 'true'} Cancel Purchase
  .modal-body.purchase-wrapper
    .d-flex
      %table.table.table-responsive.purchase-table
        %thead
          %tr
            %th.no-sort Bank Name
            %th.no-sort Slot
            %th.no-sort Credit Limit
            %th.no-sort Card Age
            %th.no-sort Statement Date
            %th.no-sort State
            %th.no-sort Special Add
            %th.no-sort SSN req
            %th.no-sort DL Req
            %th Price
        %tbody#trade_lines
          %tr
            %td= trade_line.bank.capitalize
            %td= trade_line.slots
            %td
              - if trade_line.credit_limit - trade_line.credit_limit.to_i == 0 
                = number_to_currency(trade_line.credit_limit, precision: 2)
              - else 
                = number_to_currency(trade_line.credit_limit, precision: 2)
            %td= "#{date_to_years(trade_line.history)} yrs"
            %td= trade_line.statement_date.ordinalize
            %td= trade_line.state.short_code
            %td= parse_booleans(trade_line.special_add)
            %td= parse_booleans(trade_line.ssn_req)
            %td= parse_booleans(trade_line.dl_req)
            %td= number_to_currency(trade_line.price, precision: 2)

    #new-purchase-form
      = render 'form_new'
- else
  .alert.alert-warning
    You cant purchase a tradeline since it is in-active.
