%html
  %head
    %meta{'content'=>'text/html; charset=UTF-8', 'http-equiv'=>'Content-Type'}
    %style_script
      :css
        .mail-details p, .mail-details b {
          display: inline;
        }
  %body
    %p
      Hi #{@user.first_name.capitalize}, 

    %p
      Your order has been confirmed. You can expect the tradeline(s) to post around 10 days after the statement date. If a special address is required to post, we will provide it at that time.

    .mail-details
      %b AU Name: 
      %p= "#{@user.first_name} #{@user.last_name}"
    .mail-details
      %b Last 4 digits of SSN: 
      %p #{@user.social.to_s[-4..-1]}
    .mail-details
      %b Purchase Ref: 
      %p= "##{@purchase.ref}"
    %br
    .mail-details
      %b Bank: 
      %p #{@trade_line.bank}
    .mail-details
      %b Credit Limit: 
      %p #{number_to_currency(@trade_line.credit_limit.to_f, precision: 2)}
    .mail-details
      %b Tradeline History: 
      %p= "#{date_to_years(@trade_line.history)} yrs"
    .mail-details
      %b Statement Date: 
      %p #{@trade_line.statement_date.ordinalize}
    .mail-details
      %b Tradeline Cost:
      %p #{number_to_currency(@trade_line.price, precision: 2)}

    %p
      Thanks for choosing us for your tradeline needs!

    %p
      Regards,
      %br
      Customer Service Team
