%html
  %head
    %meta{'content'=>'text/html; charset=UTF-8', 'http-equiv'=>'Content-Type'}
    %style_script
      :css
        .mail-details p, .mail-details b {
          display: inline;
        }
        .mail-details p.reason {
          color: red
        }
  %body
    %p
      Hi #{@user.first_name.capitalize}, 

    %p
      Sorry, but we could not confirm your tradelines order for the following reason: 
    
    .mail-details
      %b Reason For Rejection:
      %p.reason #{@purchase&.reason_for_rejection}
    %br
    .mail-details
      %b AU Name: 
      %p= "#{@user.first_name} #{@user.last_name}"
    .mail-details
      %b Last 4 digits of SSN: 
      %p #{@user.social.to_s[-4..-1]}
    .mail-details
      %b Purchase Ref: 
      %p= "##{@purchase.ref}"
    %br
    .mail-details
      %b Bank: 
      %p #{@trade_line.bank}
    .mail-details
      %b Credit Limit: 
      %p #{number_to_currency(@trade_line.credit_limit.to_f, precision: 2)}
    .mail-details
      %b Tradeline History: 
      %p= "#{date_to_years(@trade_line.history)} yrs"
    .mail-details
      %b Statement Date: 
      %p #{@trade_line.statement_date.ordinalize}
    .mail-details
      %b Tradeline Cost:
      %p #{number_to_currency(@trade_line.price, precision: 2)}
    %br
    .mail-details
      %b Current Wallet Balance:
      %p #{number_to_currency(@user.wallet_balance, precision: 2)}    

    %p
      The funds have been returned to your wallet. Please review and submit your order again. If you require any clarification, please don't hesitate to reach out to us.
    %p
      Thank you for the opportunity to service your tradeline needs.

    %p
      Regards,
      %br
      Customer Service Team
