.modal.fade.withdraw-confirmation-modal{id: "withdraw_confirmation_#{withdraw.id}", 'aria-hidden'=>'true', 'aria-labelledby'=>'proceedModalLabel', 'role'=>'dialog', 'tabindex'=>'-1'}
  .modal-dialog{'role'=>'document'}
    .modal-content.show-tl
      .modal-header
        %button.close{'data-dismiss'=>'modal'}
          %span.span-close &times;
        %h4.modal-title.title.pull-left Withdrawl Information
      .modal-body
        .row
          .col-md-12.display
            .col-md-6.text-left.control-label
              Authorization Code
            .col-md-6.text-right.value
              = withdraw.ref
        .row
          .col-md-12.display
            .col-md-6.text-left.control-label
              Amount
            .col-md-6.text-right.value
              = number_to_currency(withdraw.amount, precision: 2)
        .row
          .col-md-12.display
            .col-md-6.text-left.control-label.withdraw-control-label
              Who should we write the check to?
            .col-md-6.text-right.value
              = withdraw.payee
        .row
          .col-md-12.display
            .col-md-6.text-left.control-label.withdraw-control-label
              Tell us where we should send the check
            .col-md-6.text-right.value
              = withdraw.address

      .modal-footer
        - if withdraw.approved? || withdraw.rejected? || current_user.au?
          %b.sub-title.text-left.note-label Note:&nbsp;
          %p.subtitle.pull-left.note-msg= "Withdraw request previously #{withdraw.status.humanize}"
          %button.btn.btn-primary.btn-lg.btn-block{'data-dismiss'=>'modal'} Close
        - else
          = link_to 'Approve', withdraw_path(withdraw, approved: true), remote: true,
            method: :patch, class: 'btn btn-primary btn-lg btn-block'
          = link_to 'Reject', withdraw_path(withdraw, approved: false), 
            method: :patch, class: 'btn btn-default btn-lg btn-block', remote: true
