.modal.withdrawal-funds-modal#withdrawal-funds-modal{tabindex: '-1', role: 'dialog', 'aria-labelledby': 'withdrawal-funds-modal-label', 'aria-hidden': 'true'}
  .modal-dialog{role: 'document'}
    .modal-content
      .modal-header
        %h5.modal-title#withdrawal-funds-modal-label.title-sub-brand Withdraw Your Funds
      .modal-body
        %span.warn-text Please make sure you write correct payee details in terms to send a check
        = form_tag withdraws_path, id: 'form-withdraw', class: '', method: :get do
          .d-flex.flex-wrap.justify-content-between.m-b-10
            .col-50.d-flex.flex-column
              = label_tag :bank, 'Payee full name', class: 'control-label'
              = text_field_tag :payee, params[:payee], class: 'form-control', required: true
            .col-50.d-flex.flex-column
              = label_tag :amount, 'Withdraw amount', class: 'control-label'
              = text_field_tag :amount, params[:amount], class: 'form-control', required: true
            .col-100.d-flex.flex-column
              = label_tag :address, 'Payee address', class: 'control-label'
              = text_field_tag :address, params[:address], class: 'form-control', required: true
            .col-50.d-flex.flex-column
              = label_tag :city, 'City', class: 'control-label'
              = text_field_tag :city, params[:city], class: 'form-control search-form', required: true
            .col-50.d-flex.flex-column
              = label_tag :state, 'State', class: 'control-label'
              = text_field_tag :state, params[:state], class: 'form-control', required: true
            .col-50.d-flex.flex-column
              = label_tag :zipcode, 'Zip code', class: 'control-label'
              = text_field_tag :zipcode, params[:zipcode], class: 'form-control', required: true
          .d-flex.flex-column
            .d-flex.m-b-10
              %a.btn.btn-cyan.btn-md
                %button{type: 'submit', for: 'form-withdraw'} Submit Details
              %a.btn.btn-light-primary.btn-md
                %button{'data-dismiss': 'modal', 'aria-label': 'Close'} Cancel
            .d-flex
              = check_box_tag :confirm, :confirm, false, required: true
              = label_tag :confirm, 'I agree that i provided all correct information. ', class: 'control-label'
        
