%tr
  %td
    %p.dashb= link_to "Withdrawal Ref. #{withdraw.ref}", edit_withdraw_path(withdraw), class: '', remote: true, href: '#', 'data-toggle': 'modal', 'data-target': "withdraw_details_#{withdraw.id}"
  %td
    %p.dashb= month_date_and_year(withdraw.created_at)
  %td
    %p.dashb= withdraw.payee
  %td
    %p.dashb{class: "status_#{withdraw.status}"}= withdraw.status.titleize
  %td.dashb-app-status=  number_to_currency(withdraw.amount, precision: 2)
