%tr
  %td
    %p.dashb= link_to "##{withdraw.ref}", edit_withdraw_path(withdraw), remote: true
  %td
    %p.dashb= month_date_and_year(withdraw.created_at)
  %td
    %p.dashb= withdraw.payee
  %td
    %p.dashb{class: "status_#{withdraw.status}"}= withdraw.status.titleize
  %td.dashb-app-status=  number_to_currency(withdraw.amount, precision: 2)
