.login.row
  .col-md-6.col-sm-6.login-bg-wrapper
  .col-md-6.col-sm-6.login-form-wrapper
    .col-md-offset-1.col-md-8.main.login-form-inner-wrapper
      %p.hello Hello.
      %p.welcome Welcome to Coast to Coast Tradelines, please login or signup to proceed.
      - if alert.present?
        .alert= alert
      = simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'form-horizontal'}, wrapper: :horizontal_form) do |f|
        = f.input :email, autofocus: true, label: false, required: false, placeholder: 'Email Address'
        .forgot_div.row-eq-height
          .col-sm-10.forgot
            = f.input :password, required: false, label: false, placeholder: 'Password', html: {class: 'lash'}
          .col-sm-2.forgot
            - if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations'
              = link_to "Forgot?", new_user_password_path, class: 'pull-right forgot-password'
        &nbsp;
        = f.button :submit, "LOGIN", class: 'btn btn-primary btn-block btn-lg'
      &nbsp;
      - if devise_mapping.registerable? && controller_name != 'registrations'
        = button_to "NOT AN EXISTING USER? SIGNUP", new_user_path, class: 'btn btn-primary login btn-block btn-lg', method: :get
