.login.row
  .col-md-6.col-sm-6.login-bg-wrapper
  .col-md-6.col-sm-6.login-form-wrapper
    .col-md-offset-1.col-md-8.main.login-form-inner-wrapper
      .d-flex.align-items-center.justify-content-between.header-holder
        .col-left
          %h4.title-brand Log In
        .col-right.d-flex.align-items-center.justify-content-end
          %span Don’t have account yet?
          - if devise_mapping.registerable? && controller_name != 'registrations'
            = button_to "Sign Up", new_user_path, class: 'btn-link', method: :get
      = simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'form-horizontal'}, wrapper: :horizontal_form) do |f|
        - if alert.present?
          .alert= alert
        .row.m-b-5
          .col-sm-6
            = f.input :email, autofocus: true, label: 'Email Address *', required: true, placeholder: false
          .col-sm-6
            = f.input :password, required: true, label: 'Password *', placeholder: false, html: {class: 'lash'}
        .d-flex
          %a{class: 'btn btn-cyan btn-sm'}= f.button :submit, "Log In"
