= simple_form_for @deposit, html: { id: "my-awesome-dropzone", class: "dropzone", multipart: true, remote: true } do |f|
  .modal-body
    - if current_user.au?
      %span.warn-text As a proof of deposit we would need you to upload the receipt.
      .d-flex.flex-wrap.justify-content-between.m-b-10
        .col-50.d-flex.flex-column.short
          = f.label :amount, 'Deposit Amount', class: 'control-label'
          = f.input :amount, label: false, input_html: { onKeyPress: "return isFloatPress(event);", onKeyUp: "return isFloatUp(event);" }, as: :string
        .col-50.d-flex.flex-column.short
          = f.label :date_of_deposit, 'Deposit Date', class: 'control-label'
          = f.input :date_of_deposit, as: :string, label: false, input_html: { class: 'datepicker' }
        .col-100.d-flex.flex-column.short
          = f.label :banking_information_id, 'Deposit was made at', class: 'control-label'
          = f.input :banking_information_id, collection: @banking_infos, include_blank: true, class: 'form-control js-select2', label: false

      .dz-max-files-reached
      .dropzone-previews
      #drag-area.drag-area
        .d-flex.flex-column
          .dz-message.needsclick.d-flex.flex-column.align-items-center.justify-content-center
            .auth-code
              %center.text
                %p.code Authentication Code: #{@deposit.authorization_code}
                %span Please write authentication code on the receipt
            %button.btn-dropzone Click or drag and drop files here to upload 
          %span.help-block#drag-area-help-block
          %span.image-add-remove-msg

    - else
      = hidden_field_tag :broker_id, params[:broker_id]
      = f.hidden_field :status, value: 'accepted'
      .d-flex.flex-wrap.justify-content-between.m-b-10
        .col-100.d-flex.flex-column.short
          = f.label :amount, 'Deposit Amount', class: 'control-label'
          = f.input :amount, label: false, input_html: { onKeyPress: "return isFloatPress(event);", onKeyUp: "return isFloatUp(event);" }, as: :string

    .d-flex.flex-column.align-items-center.m-0
      .d-flex
        %button.btn.btn-cyan.btn-md.btn-submit-deposit{type: 'submit'} Submit
        %button.btn.btn-light-primary.btn-md{'data-dismiss': 'modal', 'aria-label': 'Close'} Cancel

    = f.hidden_field :authorization_code

:javascript
  $(document).ready(function(){
    $('select').select2();
    $('input.datepicker').data({behaviour: "datepicker"}).datepicker({
      format: 'mm/dd/yy', 
      endDate: '+0d',
      autoclose: true,
      orientation: 'bottom'
    });
    $('.dropzone .dz-preview.dz-error .dz-error-mark').hide();
    $('.dropzone .dz-preview.dz-error .dz-error-message').hide();
    $('.submit-deposit-form').click(function(){
      $('.dz-remove').hide();
    });

  });

