= simple_form_for @deposit, html: { id: "my-awesome-dropzone", class: "dropzone", multipart: true, remote: true } do |f|
  .modal-body
    - if current_user.au?
      .row
        .col-md-12
          .col-md-6= f.input :amount, label: 'Deposit Amount', input_html: { onKeyPress: "return isFloatPress(event);", onKeyUp: "return isFloatUp(event);" }, as: :string
          .col-md-6
            = f.input :date_of_deposit, as: :string, label: 'Deposit Date', 
              input_html: { class: 'datepicker' }
        .col-md-12
          = f.input :banking_information_id, collection: @banking_infos, include_blank: true, label: 'Deposit was made at'
      .dz-max-files-reached
      .dropzone-previews
      .row#drag-area
        .col-md-12
          .col-md-12.auth-code
            %center.text
              %p.code Authentication Code: #{@deposit.authorization_code}
              %span Please write authentication code on the receipt

          .col-md-12.dz-message.needsclick
            %p Click or drag and drop files here to upload 
          %span.help-block#drag-area-help-block
          %span.image-add-remove-msg
    - else
      = hidden_field_tag :broker_id, params[:broker_id]
      = f.hidden_field :status, value: 'accepted'
      .row
        .col-md-12
          = f.input :amount, label: 'Deposit Amount', input_html: { onKeyPress: "return isRealPress(event);", onKeyUp: "return isRealUp(event);" }, as: :string

    = f.hidden_field :authorization_code
  .modal-footer
    = f.submit :submit, class: 'btn btn-primary btn-block btn-lg submit-deposit-form'
    = link_to 'cancel', '#', class: 'btn btn-default btn-block btn-lg', data: { dismiss: 'modal' }

:javascript
  $(document).ready(function(){
    $('select').select2({theme: 'bootstrap', dropdownParent: $('.modal')});
    $('input.datepicker').data({behaviour: "datepicker"}).datepicker({
      format: 'mm/dd/yy', 
      endDate: '+0d',
      autoclose: true,
      orientation: 'bottom'
    });
    $('.dropzone .dz-preview.dz-error .dz-error-mark').hide();
    $('.dropzone .dz-preview.dz-error .dz-error-message').hide();
    $('.submit-deposit-form').click(function(){
      $('.dz-remove').hide();
    });

  });

