.row.row-holder.align-items-center.brand-border-bottom-l-s
  .col-9
    %h2.main-title.title-brand Deposits
    %span.subtitle Platform to boost your credit scores.
  .col-3
    = form_tag deposits_path, method: :get do
      .form-control-holder
        = text_field_tag :term, nil, placeholder: 'Search with ref number...', value: params[:term], class: 'form-control'
        %i.fa.fa-search

#btn-click-modal

.content-holder.p-t-55
  - if @deposits.any?
    %table.table.table-striped
      %thead
        %tr
          %th.no-sort Deposit ref no
          %th.no-sort Deposit Date
          - if current_user.staff?
            %th.no-sort Broker Name
          %th.no-sort Deposit Status
          %th.no-sort Deposit Amount
      %tbody{ data: { 'no-turbolink'=>'true' } }
        = render @deposits
  - else
    = render 'shared/no_data'
            
#infinite-scrolling
  = will_paginate @deposits
