= simple_form_for @refund, remote: true do |f|
  .modal-body
    = f.hidden_field :status, value: 'accepted'
    = f.label 'Refund Amount', class: 'control-label decimal optional'
    .row
      %span.col-xs-1.currency_wrapper.currency_wrapper_for_form $
      .col-xs-5.col-md-11.currency_form_block
        = f.input :amount_refunded, input_html: { value: "#{number_with_precision(@refund.purchase.amount, precision: 2)}" }, readonly: true, label: false

  .modal-footer
    = f.submit 'Confirm Refund', class: 'btn btn-primary btn-lg btn-block'
    = link_to 'cancel', edit_refund_path(@refund), class: 'btn btn-default btn-lg btn-block', remote: true
