.modal-header
  %h5.modal-title.title-sub-brand Refund Details
  %button.close{'data-dismiss': 'modal', 'aria-label': 'Close'}
    %span{'aria-hidden': 'true'} Close
.modal-body
  %span.warn-text Lorem Ipsum is simply dummy text of the printing and typesetting industry.
  .d-flex.flex-wrap.justify-content-between
    .col-50.d-flex.flex-column
      %label.control-label Payment Ref
      %div.data-value= @refund.purchase.ref.insert(-1, '#')
    .col-50.d-flex.flex-column
      %label.control-label Purchase Amount
      %div.data-value= number_to_currency(@refund.purchase.amount, precision: 2)
    .col-100.d-flex.flex-column
      %label.control-label Reason for Refund
      %div.data-value= @refund.reason
    .col-100.d-flex.flex-column
      - if @refund.reason == 'Other'
        - if @refund.attachment?
          = link_to 'Download the file?', @refund.attachment.url, download: "#{@refund.attachment.file.filename}"
        - else
          %label.control-label Credit Monitoring Service
          %div.data-value= @refund.cm_service