%tr
  %td
    %p.dashb= link_to "Refund Ref. #{refund.ref}", edit_refund_path(refund.id)
  %td
    %p.dashb= month_date_and_year(refund.created_at)
  %td
    %p.dashb{class: "status_#{refund.status}"}= refund.status.humanize
  %td
    %p.dashb-app-status= number_to_currency("#{refund.amount_refunded.nil? ? '0' : refund.amount_refunded }", precision: 2)
