#user-change-status

.row.row-holder.align-items-center.brand-border-bottom-l-s
  .col-9
    %h2.main-title.title-brand Refunds
    %span.subtitle Platform to boost your credit scores.
  .col-3
    = form_tag refunds_path, method: :get do
      .form-control-holder
        = text_field_tag :term, nil, placeholder: 'Search with ref number...', value: params[:term], class: 'form-control'
        %i.fa.fa-search

.content-holder.p-t-55
  - if @refunds.any?
    %table.table.table-striped
      %thead
        %tr
          %th.no-sort Refund ref no
          %th.no-sort Refund Date
          %th.no-sort Refund Status
          %th.no-sort Refund Amount
      %tbody{ data: { 'no-turbolink'=>'true' } }
        = render @refunds
  - else
    = render 'shared/no_data'
            
#infinite-scrolling
  = will_paginate @refunds

:javascript
  $('#search-box').hide();
  $('.search-users-text').on('click', function(){
    $('#panel-search').hide();
    $('#search-box').show();
    $('#term').focus();
    $('.panel-heading.col-md-12').css('padding', '0px');
  });
  $('.search-box-remove').on('click', function(){
    $('#panel-search').show();
    $('#search-box').hide();
    $('.panel-heading.col-md-12').css('padding', '30px 30px 24px');
  });
