.row.row-holder.align-items-center.brand-border-bottom-l-s
  .col-sm-6
    %h2.main-title.title-brand Banking Information
    %span.subtitle Platform to boost your credit scores.
  .col-sm-6.d-flex.align-items-center.justify-content-end
    - if current_user.senior?
      = link_to 'Add New Banking Info', new_banking_information_path, remote: true, class: 'btn btn-cyan btn-xlg new-trade-line'

.content-holder.p-t-55
  - if @banking_infos.any?
    %table.table.table-striped.table-responsive.fund-wallet-table
      %thead
        %tr
          %th Acc. Number
          %th Routing Info
          %th Bank Name
          %th Account Name
      %tbody#refund-wallet
        - @banking_infos.each do |info|
          %tr
            %td= link_to info.account_number, edit_banking_information_path(info), remote: true
            %td= info.routing_info
            %td= info.bank_name
            - if current_user.senior?
              %td
                = link_to banking_information_path(info), method: :delete, 
                    data: { confirm: 'Are you sure that you want to delete this banking info?' } do
                  %span.glyphicon.glyphicon-trash
      = will_paginate @banking_infos
  - else
    = render 'shared/no_data'
#banking_info

