!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Welcome to Coast to Coast Tradelines
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = favicon_link_tag
  %body
    %header.header
      .header-top
        %a.logo-holder.d-flex.align-items-center.justify-content-center.w-100{href: '/'}
          %h2 Coast To Coast Tradelines
      .header-body
        %nav
          %ul.navigation
            %li.activated.icon.icon-home{ class: "#{'activated' if controller.action_name == '/'|| controller.controller_name == '/' && !params[:user_check_id]}" }
              %a{href: "/"} Home
            %li.icon.icon-user{ class: "#{'activated' if controller.action_name == 'profile'|| controller.controller_name == 'profile' && !params[:user_check_id]}" }
              = link_to 'My Profile', edit_details_user_path(current_user, profile_details: true)
            %li.icon.icon-locker= link_to 'Change Password', edit_password_user_path(current_user)
            - if current_user.au?
              - if current_user.accepted?
                %li= link_to 'Authorised Users', applications_users_path
                %li= link_to 'Recent Transactions', ledger_entries_path
            %li.icon.icon-hands{ class: "#{'activated' if controller.action_name == 'home'|| controller.controller_name == 'home' && !params[:user_check_id]}" }
              %a{href: "/brokers"} Brokers / Vendors
            %li.dropdown.icon.icon-cash.open
              %a.dropdown-toggle.d-flex.align-items-center.justify-content-between{:href => "#", "role" => "button", "data-toggle" => "dropdown", "data-target" => "#"}
                Recent Transactions
                %i.fa.fa-chevron-down
              %ul.dropdown-menu
                %li{ class: "#{'activated' if controller.action_name == 'home'|| controller.controller_name == 'home' && !params[:user_check_id]}" }
                  %a{href: "/brokers"} Ledgers
                %li{ class: "#{'activated' if controller.action_name == 'purchases'|| controller.controller_name == 'refunds' && !params[:user_check_id]}" }
                  %a{href: "/purchases"} Purchases
                %li{ class: "#{'activated' if ['deposits', 'withdraws'].include?(controller.controller_name)}" }
                  %a{href: "/deposits"} Deposits
                %li{ class: "#{'activated' if controller.action_name == 'purchases'|| controller.controller_name == 'refunds' && !params[:user_check_id]}" }
                  %a{href: "/purchases"} Refunds
                %li{ class: "#{'activated' if ['deposits', 'withdraws'].include?(controller.controller_name)}" }
                  %a{href: "/deposits"} Withdrawals
            %li.icon.icon-checked{ class: "#{'activated' if controller.controller_name == 'ssns'}" }
              %a{href: "/ssns"} SSN/CPN Validation
    .display-body
      .top-bar.d-flex.align-items-center.justify-content-end
        .user-holder.d-flex.align-items-center
          .user-logo
          %span 
            Welcome,
            %strong.user-name Username
        %a.btn-link.d-flex.align-items-center.btn-filters{href: '#', 'data-toggle': 'modal', 'data-target': '#logout-modal'}
          %i.fa.fa-power-off
      .container-content
        #error
          = render partial: 'shared/error' 
        #messages
          = render 'shared/messages'
        #user-render-partial
        - if current_user.staff?
          #new-trade-line
        = yield
    
    = render "trade_lines/filters-modal"
    = render "dashboard/confirm-deposit-modal"
    = render "dashboard/fund-wallet-modal"
    = render "withdraws/withdrawal-funds-modal"
    = render "trade_lines/purchase-modal"
    = render "confirmations/confirm-withdraw-modal"
    = render "confirmations/confirm-purchase-modal"
    = render "confirmations/confirm-deposit-modal"
    = render "confirmations/confirm-change-password-modal"
    = render "confirmations/confirm-logout-modal"

