!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Welcome to Coast to Coast Tradelines
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = favicon_link_tag
  %body
    %header.header
      .header-top
        %a.logo-holder.d-flex.align-items-center.justify-content-center.w-100{href: '/'}
          %h2 Coast To Coast Tradelines
      .header-body
        %nav
          %ul.navigation
            %li.icon.icon-home{ class: "#{'activated' if controller.controller_name == '/'}" }
              %a{href: "/", onclick: "(function() {location.reload()})();"} Home
            %li.icon.icon-user{ class: "#{'activated' if controller.action_name == 'edit_details'|| controller.controller_name == 'edit_details' && !params[:user_check_id]}" }
              = link_to 'My Profile', edit_details_user_path(current_user, profile_details: true)
            %li.icon.icon-locker{ class: "#{'activated' if controller.action_name == 'edit_password'|| controller.controller_name == 'edit_password' && !params[:user_check_id]}" }
              = link_to 'Change Password', edit_password_user_path(current_user)
            %li.icon.icon-hands{ class: "#{'activated' if controller.action_name == 'applications'|| controller.controller_name == 'applications' && !params[:user_check_id]}" }
              = link_to 'Brokers / Vendors', applications_users_path 
            %li.dropdown.icon.icon-cash
              %a.dropdown-toggle.d-flex.align-items-center.justify-content-between{:href => "#", "role" => "button", "data-toggle" => "dropdown", "data-target" => "#"}
                Recent Transactions
                %i.fa.fa-chevron-down
              %ul.dropdown-menu
                %li{ class: "#{'activated' if controller.action_name == 'ledger_entries'|| controller.controller_name == 'ledger_entries' && !params[:user_check_id]}" }
                  = link_to 'Ledgers', ledger_entries_path
                %li{ class: "#{'activated' if controller.action_name == 'purchases'|| controller.controller_name == 'purchases' && !params[:user_check_id]}" }
                  %a{href: "/purchases"} Purchases
                %li{ class: "#{'activated' if ['deposits'].include?(controller.controller_name)}" }
                  %a{href: "/deposits"} Deposits
                %li{ class: "#{'activated' if controller.action_name == 'refunds'|| controller.controller_name == 'refunds' && !params[:user_check_id]}" }
                  %a{href: "/refunds"} Refunds
                %li{ class: "#{'activated' if ['withdraws'].include?(controller.controller_name)}" }
                  %a{href: "/withdraws"} Withdrawals
            %li.icon.icon-cash.open= link_to 'Banking Information', banking_informations_path
            %li.icon.icon-checked{ class: "#{'activated' if controller.controller_name == 'ssns'}" }
              %a{href: "/ssns"} SSN/CPN Validation
    .display-body
      .top-bar.d-flex.align-items-center.justify-content-end
        .fa.fa-bars.open-btn.js-open-btn.d-block.d-xl-none
        .user-holder.d-flex.align-items-center
          .user-logo
          %span 
            Welcome,
            %strong.user-name
              - if current_user.first_name?
                = current_user.first_name
              - else
                Username
        %a.btn-link.d-flex.align-items-center.btn-filters{href: '#', 'data-toggle': 'modal', 'data-target': '#logout-modal'}
          %i.fa.fa-power-off
      .container-content
        #error
          = render partial: 'shared/error' 
        #messages
          = render 'shared/messages'
        #user-render-partial
        - if current_user.staff?
          #new-trade-line
        = yield
    
    = render "trade_lines/filters-modal"
    = render "dashboard/confirm-deposit-modal"
    = render "withdraws/withdrawal-funds-modal"
    / = render "withdraws/withdraw_details"
    / = render "refunds/refund_details"
    / = render "refunds/deposit_details"
    / = render "refunds/purchase_details"
    = render "trade_lines/purchase-modal"
    = render "confirmations/confirm-withdraw-modal"
    = render "confirmations/confirm-purchase-modal"
    = render "confirmations/confirm-deposit-modal"
    = render "confirmations/confirm-change-password-modal"
    = render "confirmations/confirm-logout-modal"
    = render "confirmations/confirm-ssn-modal"

:javascript
  var navDropdown = $('.navigation .dropdown');
  var navDropdownList = $('.navigation .dropdown-menu');

  if ($('.navigation .dropdown-menu li').hasClass('activated')) {
    navDropdown.addClass('open');
  }

  $(document).on('click', function () {
    
    if ($('.navigation .dropdown-menu li').hasClass('activated')) {
      navDropdown.addClass('open');
    }
  })
